body {
    margin-top: 0;
    padding-top: 0;
    font-family: work sans;


}

h1 {
    text-align: center;
    color: #a18262;


}

a {
    color: #864809;
}

p {
    color: #a18262;
}

#logo {
    position: relative;
    bottom: 75px;
    left: 10px;
    height: 80px;
    width: 80px;
    border-radius: 60%;

}

header {
    background-color: rgb(255, 255, 255);
    height: 80px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

div.menu {
    position: absolute;
    top: 40px;
    left: 110px;
}

section.bebidas {
    width: 550px;
    height: 432px;

}

.cardapio {
    border: 2px solid black;
    box-shadow: 0px 5px 5px #646262;
    height: 550px;


}

.flex {
    display: flex;

}

.horario .flex {
    justify-content: center;
    align-items: center;
}

section.bebidas img {
    position: relative;
    left: 150px;
    width: 300px;
    height: 200px;
}

section.salgados img {
    position: relative;
    left: 100px;
    top: 60px;
    width: 250px;
    height: 150px;
}

section.doces img {
    position: relative;
    left: 100px;
    top: 10px;
    width: 200px;
    height: 200px;
}



div.horario {
    text-align: center;

}

.formulario {
    text-align: center;
    color: black;
    height: 370px;
}

@media screen and (max-width: 1250px) {
    body {
        width: 96%;
    }

    ul {
        margin: 0;
        width: 70%;
        ;

    }

    h1 {
        display: none;
    }

    #logo {
        position: relative;
        bottom: 0px;
    }

    section.bebidas {
        width: 100%;
    }

    section.bebidas img {
        position: relative;
        left: 100px;
    }

    .horario,
    .flex .tabela {
        max-width: 100%;
    }

    .flex {
        flex-direction: column;
        justify-content: center;
    }

    .cardapio {
        border: 2px solid black;
        box-shadow: 0px 5px 5px #646262;
        height: 10%;
    }

}