body {
    justify-content: center;
    text-align: center;
    font-family: inter, Arial, Helvetica, sans-serif;
    background-color: #031538;

}


/* Area inicial com minha foto */


.minhafoto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    animation: sombreamento 2s ease-in-out infinite alternate;
    box-shadow: 0 0 20px #0040ff88;
}


section.sobremim h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

section.sobremim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
    color: white;
    text-align: center;

}

section.sobremim div {
    max-width: 500px;

}


/* AREA DOS PROJETOS */

.flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-items: center;
    max-width: 880px;
    margin: 0 auto;
}


.portfolio {

    margin-left: 40px;
    margin-right: 40px;
}


a {
    color: rgb(255, 255, 255);
}

.titulo {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    opacity: 70%;
}

.titulo:hover {
    opacity: 100%;
    cursor: pointer;
}

.tituloprojeto {
    color: white;
}

.portfolio img {
    border-radius: 20%;
    width: 200px;
    height: 150px;
    transition: 0.2s;
}

.portfolio img:hover {
    box-shadow: 1px 0px 28px -10px rgba(255, 255, 255, 0.75);
    transform: scale(1.05);
}


@keyframes sombreamento {
    0% {
        box-shadow: none;
    }

    100% {
        box-shadow: 1px 1px 29px 0px rgba(5, 53, 156, 0.95);
    }
}

@media screen and (max-width: 1300px) {

    .minhafoto {
        width: 150px;
        height: 150px;
    }

    section.sobremim div {
        flex-direction: column;
        text-align: center;
    }
}