body {
    justify-content: center;
    text-align: center;
    font-family: inter, Arial, Helvetica, sans-serif;
    background-color: #031538;

}


/* Area inicial com minha foto */

.minhafoto {
    position: relative;
    transition: 0.3s;
    margin-top: 150px;
    width: 15%;
    border-radius: 40%;
    animation: sombreamento 2s ease-in-out infinite alternate;
}

h1 {
    position: absolute;
    text-align: center;
    top: 70px;


}

section.sobremim {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 500px;

    color: rgb(255, 255, 255);

}

section.sobremim div {
    margin-left: 20px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;

}


/* AREA DOS PROJETOS */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap;

}


.portfolio {

    margin-left: 40px;
    margin-right: 40px;
}


a {
    color: rgb(255, 255, 255);
}

.titulo {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    opacity: 70%;
}

.titulo:hover {
    opacity: 100%;
    cursor: pointer;
}

.tituloprojeto {
    color: white;
}

.portfolio img {
    border-radius: 20%;
    width: 200px;
    height: 150px;
    transition: 0.2s;
}

.portfolio img:hover {
    box-shadow: 1px 0px 28px -10px rgba(255, 255, 255, 0.75);
    transform: scale(1.05);
}


@keyframes sombreamento {
    0% {
        box-shadow: none;
    }

    100% {
        box-shadow: 1px 1px 29px 0px rgba(5, 53, 156, 0.95);
    }
}

@media screen and (max-width: 1300px) {

    .minhafoto {
        width: 30%;

    }
}