h2 {
    text-align: center;
}

form {
    margin: auto;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}

.message {
    font-weight: bold;
    margin-top: 4px;
}

.valid-msg {
    color: green;
}

.invalid-msg {
    color: red;
}