th {

    background-color: rgb(131, 12, 12);
}

h1 {
    height: 70px;
    color: rgb(245, 245, 245);
}

a {
    height: 20px;
    padding: 2%;
    color: white;


}

h2 {
    text-align: center;
}

p {
    display: inline-block;
    font-size: large;
    background-color: rgb(255, 255, 255);
    font-family: Tahoma;
    text-align: justify;
    margin-left: 40px;
}

.post {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.imagem {
    display: flex;
    justify-content: center;
}

img {
    width: 40vw;
    height: 20vw;
}

@media screen and (max-width: 1000px) {
    img {
        width: 80vw;
        height: 40vw;
    }

}